**/package-lock.json
**/yarn.lock
**/yarn-error.log
**/yarn-debug.log
**/yarn-integrity
**/yarn-*.cjs
**/yarn-*.mjs
**/yarn-*.js

# Dependency directories
**/node_modules
**/bower_components

# TypeScript cache
**/*.tsbuildinfo

# Optional npm cache directory
**/.npm

# Optional eslint cache

